  /* @tailwind base;
@tailwind components;
@tailwind utilities;     */




 
/*   :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */



 
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.form{
  border: 1px solid black;
 width: 300px;
 margin: auto;
 align-items: center;
 text-align: center;
 height: 400px;
 color: #090000;
 background-color: #e1b9b9;
 padding-top: 50px;
}
button{
  border-radius: 50px;
  background-color: rgb(215, 210, 226);
  margin: 5px;
}

.form1{
  border: 1px solid black;
  width:300px;
  margin: auto;
  background-color: #e1b9b9;
  color: #090000;
  align-items: center;
  text-align: center;
  height: 600px;
  padding-top: 50px;
}

.top{

  display: flex;
  justify-content: start;
  gap: 15px;
  line-height: 10px;
  background-color: #d6d3d1;
  
  list-style: none;
}
.flex{
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr) );
  gap: 50px;
  margin: auto;

 
}
/* .main {
 
  display: flex;
  justify-content: space-between;
 line-height: 50px;
   font-weight: bold;
   background-color: bisque;
  position: sticky;
  margin-bottom: 10px;
} */
li{
  list-style: none;
}
link{
  text-decoration: none;
} 

:where(.css-dev-only-do-not-override-2i2tap).ant-input-group-wrapper {
  width: 50%;
}