.body{
    background-color: rgb(246,159,73);
}
.aboutpage{
  line-height: 25px;
  
  margin: 5px 100px;
   align-items: center;
   text-align: justify;
}

.about{
    align-items: center;
    
}
.head{
   
 text-align: center;  
 margin: 10px 0; 
    
}