
.main {
 
  display: flex;
  justify-content: space-between;
 line-height: 40px;
   font-weight: bold;
   background-color: bisque;
  position: sticky;
  margin-bottom: 10px;
  align-items: center;
}
.listcat{
background-color: rgb(234, 195, 123);
  width: 300px;
  padding: 20px;
margin: 10px;
}
