
.main {
 
  display: flex;
  justify-content: space-between;
 line-height: 40px;
   font-weight: bold;
   background-color: bisque;
  position: sticky;
  margin-bottom: 10px;
  align-items: center;
}
.listcat{
  border: 1px solid black;
  
}