.design{
display: flex;
width: 500px;
margin: 50px auto;
}

.image{
    width: 300px;
    height: 300px;
}

.productdesign{
    width: 300px;
    padding: 10px;
    background-color: aliceblue;
    font-size: 25px;
    
}
.productname{
   

}
.botton{
    padding: 10px;
    margin-top: 15px;
}
.botton:hover{
    background-color: red;
}