.product{
    border:1px solid black;
    width:500px;
    margin:0 auto;
    align-items: center;
    text-align: center;
    background-color: rgb(170, 205, 205);
}
.image{
    margin-left: 80px;
}
.producthead{
    margin-top: 10px;
    margin-bottom: 10px;
}
.productbtn{
    margin: 20px;
}